//<BUTTONS (a.btn+tab)>
// Сніппет (HTML): btn

.button {
	display: inline-flex;
	line-height: 1.2;
	text-transform: uppercase;
	background-color: $colorBlue100;
	color: $colorLight;
	transition: background-color 0.3s ease 0s;

	@media (any-hover: hover) {
		&:hover {
			background-color: $colorBlue900;
		}
	}

	&--fw {
		width: 100%;
	}
}
