.about-page {
  // .about-page__main
  &__main {
  }
  // .about-page__history
  &__history {
  }
  // .about-page__steps
  &__steps {
  }
  // .about-page__promotions-daily
  &__promotions-daily {
  }
  // .about-page__quality
  &__quality {
  }
}

//====hero===============================================================================================

.hero {
  position: relative;
  @include adaptiveValue("padding-top", 295, 90);
  @include adaptiveValue("padding-bottom", 140, 50);
  // .hero__container
  &__container {
  }
  // .hero__title
  &__title {
    position: relative;
    z-index: 2;
    .box-header__title {
      @include adaptiveValue("font-size", 60, 30);
    }
  }
  // .hero__banner
  &__banner-ibg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    img {
      object-position: bottom;
    }

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(180deg, rgba($colorGray900, 0.45) 0%, rgba($colorGray900, 0.22) 100%);
    }
  }
}

//====history===============================================================================================

.history {
  position: relative;
  @include adaptiveValue("padding-top", 70, 30);
  @include adaptiveValue("padding-bottom", 70, 30);
  background: url("@img/history/back.jpg") top / cover no-repeat;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba($colorLight, 0.8);
  }
  // .history__container
  &__container {
    position: relative;
    display: grid;
    row-gap: toRem(30);
    align-items: start;

    z-index: 2;

    @media (min-width: $tablet) {
      grid-template-columns: 38.75% 1fr; /* 465/1200 */
      column-gap: toRem(50);
    }
  }
  // .history__picture-box
  &__picture-box {
  }
  // .history__info
  &__info {
  }
}
.box-picture {
  position: relative;
  aspect-ratio: 465 / 435;

  // .box-picture__image-ibg
  &__image-ibg {
    margin-right: toRem(50);
    min-height: 100%;
  }
  // .box-picture__stat
  &__stat {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include adaptiveValue("row-gap", 20, 10);
    @include adaptiveValue("padding", 30, 10);
    width: 51.612903%; /* 240/465 */
    aspect-ratio: 240/233;
    text-align: center;
    background: url("@img/transformation/bacgraund.jpg") bottom / cover no-repeat;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    color: $colorLight;
    z-index: 2;

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba($colorBlue900, 0.7);
    }

    @media (max-width: $tablet) {
    }
  }
  // .box-picture__icon
  &__icon {
    position: relative;
    z-index: 2;
    img {
      width: toRem(55);
    }
  }
  // .box-picture__value
  &__value {
    position: relative;
    @include adaptiveValue("font-size", 50, 20);
    font-weight: 700;
    line-height: 1.2;
    z-index: 2;
  }
  // .box-picture__text
  &__text {
    position: relative;
    font-size: toRem(12);
    letter-spacing: toRem(2);
    text-transform: uppercase;
    z-index: 2;
  }
}
.info-history {
  // .info-history__title-block
  &__title-block {
    &:not(:last-child) {
      margin-bottom: toRem(20);
    }
  }
  // .info-history__text
  &__text {
    display: grid;
    column-gap: toRem(15);
    row-gap: toRem(20);
    line-height: 1.6;
    letter-spacing: toRem(1);

    &:not(:last-child) {
      margin-bottom: toRem(45);
    }

    @media (min-width: $mobileMedium) {
      grid-template-columns: repeat(2, 1fr);
      row-gap: toRem(30);
    }
  }
  // .info-history__data
  &__data {
    display: grid;
    gap: toRem(20);

    @media (min-width: $mobileMedium) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  // .info-history__content-data
  &__content-data {
  }
  // .info-history__signature
  &__signature {
  }
  // .about-page__gallery-slider
  &__gallery-slider {
  }
}

//====slider-gallery===============================================================================================

.slider-gallery {
  @media (max-width: em(800)) {
    overflow: auto;
  }
  // .slider-gallery__grid
  &__grid {
    // display: grid;
    gap: toRem(20);
    position: relative;

    @media (min-width: em(800)) {
      display: inline-grid;
      grid-template-columns: repeat(5, auto);
      // transform: translate(-50%, 0px);
      // left: 50%;
    }

    @media (max-width: em(800)) {
      display: flex;
    }

    &:not(:last-child) {
      margin-bottom: toRem(20);
    }
  }
  // .slider-gallery__item
  &__item {
    position: relative;
    aspect-ratio: 1 / 1;
    @include adaptiveValue("width", 400, 200);

    @media (max-width: em(800)) {
      width: toRem(280);
      flex-shrink: 0;
    }
    // .slider-gallery__item--big
    &--big {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      @include adaptiveValue("width", 820, 420);
      aspect-ratio: 820 / 400;

      @media (min-width: em(800)) {
        grid-column: span 2;
      }
      @media (max-width: em(800)) {
        width: toRem(560);
      }
    }
  }
  // .slider-gallery__column
  &__column {
    position: relative;
  }
  // .slider-gallery__image-ibg
  &__image-ibg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  // .slider-gallery__body
  &__body {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("@img/slider-gallery/002.jpg") center / cover no-repeat;
  }
}
.info-block {
  @include adaptiveValue("padding", 40, 15);
  display: grid;
  row-gap: toRem(16);
  align-content: center;
  color: $colorLight;
  // .info-block__label
  &__label {
    font-size: toRem(12);
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: toRem(2);
    text-transform: uppercase;
  }
  // .info-block__name
  &__name {
    @include adaptiveValue("font-size", 33, 18);
    line-height: 1.2;
    letter-spacing: toRem(2);
    text-transform: capitalize;
  }
  // .info-block__text
  &__text {
    line-height: 2;

    @media (min-width: em(800)) {
      &:not(:last-child) {
        margin-bottom: toRem(15);
      }
    }
  }
  // .info-block__social
  &__social {
  }
}
.social-icon {
  display: flex;
  align-items: center;
  @include adaptiveValue("gap", 30, 20);
  // .social-icon__item
  &__item {
    flex: 0 0 toRem(20);
    // display: inline-block;
    width: toRem(20);
    height: toRem(20);
  }
  // .social-icon__link
  &__link {
    display: block;
    transition: transform 0.3s;
    img {
      width: 100%;
    }

    @media (any-hover: hover) {
      &:hover {
        transform: scale(1.3);
      }
    }
  }
}

//====commitment===============================================================================================

.steps {
  position: relative;
  @include adaptiveValue("padding-top", 70, 30);
  @include adaptiveValue("padding-bottom", 60, 30);
  background: url("@img/plastic/backgraund.jpg") top / cover no-repeat;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba($colorLight, 0.8);
  }
  // .steps__container
  &__container {
    position: relative;

    z-index: 2;
  }
  // .steps__title-block
  &__title-block {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 40, 20);
    }
  }
  // .steps__list
  &__list {
  }
}
.step-cart {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(toRem(250), 1fr));
  grid-gap: toRem(18);
  // .step-cart__item
  &__item {
  }
  // .step-cart__body
  &__body {
  }
}
.cart-commit {
  letter-spacing: toRem(1);
  line-height: 1.2;
  // .cart-commit__number
  &__number {
    @include adaptiveValue("font-size", 70, 30);
    color: $colorGray900;
    line-height: 1;

    &:not(:last-child) {
      margin-bottom: toRem(8);
    }
  }
  // .cart-commit__title
  &__title {
    font-size: toRem(25);
    text-transform: capitalize;
    color: $colorGray900;

    &:not(:last-child) {
      margin-bottom: toRem(24);
    }
  }
  // .cart-commit__text
  &__text {
    padding-right: toRem(10);
    line-height: 2;
    &:not(:last-child) {
      margin-bottom: toRem(30);
    }
  }
  // .cart-commit__check
  &__check {
  }
  // .cart-commit__item-check
  &__item-check {
    display: flex;
    align-items: center;
    @include adaptiveValue("gap", 18, 10);
    &::before {
      font-size: toRem(14);
    }
    &:not(:last-child) {
      margin-bottom: toRem(10);
    }
  }
}

//====daily-promotions===============================================================================================

.daily-promotions {
  position: relative;
  @include adaptiveValue("padding-top", 80, 50);
  @include adaptiveValue("padding-bottom", 90, 60);
  // .daily-promotions__banner-ibg
  &__banner-ibg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba($colorGray900, 0.3);
    }
    img {
      object-position: center;
    }
  }
  // .daily-promotions__container
  &__container {
    position: relative;
    text-align: center;
    z-index: 2;
  }
  // .daily-promotions__title
  &__title {
    &:not(:last-child) {
      margin-bottom: toRem(35);
    }
    .box-header__text {
      max-width: toRem(540);
    }
  }

  // .daily-promotions__button
  &__button {
    display: inline-block;
    padding: toRem(15) toRem(30);
    font-size: toRem(11);
    line-height: 1;
    letter-spacing: toRem(3);
    text-transform: uppercase;
    color: $colorLight;
    background-color: $colorBlue100;
    transition: background-color 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        background-color: $colorBlue900;
      }
    }
  }
}

//====quality===============================================================================================

.quality {
  position: relative;
  @include adaptiveValue("padding-top", 110, 30);
  @include adaptiveValue("padding-bottom", 60, 30);
  background: url("@img/plastic/backgraund.jpg") top / cover no-repeat;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba($colorLight, 0.8) 0%, rgba($colorLight, 1) 80%);
  }
  // .quality__container
  &__container {
    position: relative;
    z-index: 2;
  }
  // .quality__title-block
  &__title-block {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 55, 35);
    }
    .box-header__text {
      max-width: toRem(660);
    }
  }
  // .quality__offer
  &__offer {
  }
  // .quality__pattern
  &__pattern {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(toRem(288), 1fr));
    @include adaptiveValue("padding-top", 60, 30);
    @include adaptiveValue("padding-bottom", 60, 30);
    background-color: $colorLight;
  }
}

.offer-quality {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @media (max-width: $tablet) {
    grid-template-columns: repeat(2, 1fr);
    gap: toRem(10);
  }

  @media (max-width: $mobile) {
    grid-template-columns: auto;
  }

  // .offer-quality__item
  &__item {
    background-color: $colorLight;
    box-shadow: 0px 0px 25px 0px rgba($colorGray700, 0.5);

    @media (max-width: $tablet) {
      &:nth-child(1) {
        order: 2;
      }
      &:nth-child(3) {
        order: 3;
      }
    }

    // .offer-quality__item--big
    &--big {
      position: relative;
      margin: toRem(-10);
      z-index: 2;

      &::after {
        position: absolute;
        content: "";
        background:
          url("@img/promotions/label.png") right top / toRem(70) no-repeat,
          linear-gradient(-270deg, rgba($colorBlue900, 0.8) 0%, rgba($colorBlue100, 0.9) 100%),
          url("@img/main/baner-1.jpg") center/ cover no-repeat;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }

      @media (max-width: $tablet) {
        margin: 0;
        order: 1;
        grid-column: span 2;
      }

      @media (max-width: $mobile) {
        grid-column: span 1;
      }
    }
  }
  // .offer-quality__header
  &__header {
    padding: toRem(30);
    text-align: center;
    color: $colorLight;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      background:
        linear-gradient(-270deg, rgba($colorBlue900, 0.8) 0%, rgba($colorBlue100, 0.9) 100%),
        url("@img/promotions/backgraund.jpg") center/ cover no-repeat;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }

    > * {
      margin-bottom: toRem(15);
      &:last-child {
        margin-bottom: 0;
      }
    }

    .offer-quality__item--big & {
      &:not(:last-child) {
        margin-bottom: toRem(10);
      }
    }
  }

  // .offer-quality__title
  &__title {
    position: relative;
    @include adaptiveValue("font-size", 25, 18);
    line-height: 1.2;
    letter-spacing: toRem(1);
    text-transform: capitalize;
    z-index: 2;
  }
  // .offer-quality__price
  &__price {
    position: relative;
    @include adaptiveValue("font-size", 40, 30);
    line-height: 1.2;
    letter-spacing: toRem(1);
    z-index: 2;

    span {
      @include adaptiveValue("font-size", 30, 20);
      margin-right: toRem(10);
    }

    &:not(:last-child) {
      margin-bottom: toRem(20);
    }

    .offer-quality__item--big & {
      @include adaptiveValue("font-size", 60, 40);
    }
  }
  // .offer-quality__label
  &__label {
    position: relative;
    font-size: toRem(12);
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: toRem(4);
    z-index: 2;
  }
  // .offer-quality__body
  &__body {
    text-align: center;
    padding: toRem(30);

    @media (max-width: $mobileMedium) {
      padding: toRem(15);
    }

    .offer-quality__item--big & {
      padding: toRem(10) toRem(0) toRem(20) toRem(0);
      position: relative;
      color: $colorLight;
      z-index: 2;
    }
  }
  // .offer-quality__list-check
  &__list-check {
    &:not(:last-child) {
      margin-bottom: toRem(30);
    }
    > * {
      margin-bottom: toRem(10);
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  // .offer-quality__item-check
  &__item-check {
    display: flex;
    align-items: center;
    @include adaptiveValue("gap", 24, 10);
    letter-spacing: toRem(1);
    line-height: 2;

    .offer-quality__item--big & {
      justify-content: center;
      &::before {
        display: none;
      }
    }
  }
  // .offer-quality__button
  &__button {
    display: inline-block;
    font-size: toRem(11);
    line-height: 1.2;
    letter-spacing: toRem(4);
    text-transform: uppercase;
    padding: toRem(10) toRem(20);
    color: $colorLight;
    background-color: $colorBlue900;
    transition: background-color 0.3s ease 0s;

    .offer-quality__item--big & {
      background-color: $colorBlue100;
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: $colorBlue100;
        .offer-quality__item--big & {
          background-color: $colorBlue900;
        }
      }
    }
  }
}

//====pattern===============================================================================================
