.about-page {
  // .about-page__main
  &__main {
  }
  // .about-page__history
  &__history {
  }
}

//====hero===============================================================================================

.hero {
  position: relative;
  @include adaptiveValue("padding-top", 295, 90);
  @include adaptiveValue("padding-bottom", 140, 50);
  // .hero__container
  &__container {
  }
  // .hero__title
  &__title {
    position: relative;
    z-index: 2;
    .box-header__title {
      @include adaptiveValue("font-size", 60, 30);
    }
  }
  // .hero__banner
  &__banner-ibg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    img {
      object-position: bottom;
    }

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(180deg, rgba($colorGray900, 0.45) 0%, rgba($colorGray900, 0.22) 100%);
    }
  }
}

//====history===============================================================================================

.history {
  position: relative;
  @include adaptiveValue("padding-top", 70, 30);
  @include adaptiveValue("padding-bottom", 70, 30);
  background: url("@img/history/back.jpg") top / cover no-repeat;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba($colorLight, 0.8);
  }
  // .history__container
  &__container {
    position: relative;
    display: grid;
    row-gap: toRem(30);
    align-items: start;

    z-index: 2;

    @media (min-width: $tablet) {
      grid-template-columns: 38.75% 1fr; /* 465/1200 */
      column-gap: toRem(50);
    }
  }
  // .history__picture-box
  &__picture-box {
  }
  // .history__info
  &__info {
  }
}
.box-picture {
  position: relative;
  aspect-ratio: 465 / 435;

  // .box-picture__image-ibg
  &__image-ibg {
    margin-right: toRem(50);
    min-height: 100%;
  }
  // .box-picture__stat
  &__stat {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include adaptiveValue("row-gap", 20, 10);
    @include adaptiveValue("padding", 30, 10);
    width: 51.612903%; /* 240/465 */
    aspect-ratio: 240/233;
    text-align: center;
    background: url("@img/transformation/bacgraund.jpg") bottom / cover no-repeat;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    color: $colorLight;
    z-index: 2;

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba($colorBlue900, 0.7);
    }

    @media (max-width: $tablet) {
    }
  }
  // .box-picture__icon
  &__icon {
    position: relative;
    z-index: 2;
    img {
      width: toRem(55);
    }
  }
  // .box-picture__value
  &__value {
    position: relative;
    @include adaptiveValue("font-size", 50, 20);
    font-weight: 700;
    line-height: 1.2;
    z-index: 2;
  }
  // .box-picture__text
  &__text {
    position: relative;
    font-size: toRem(12);
    letter-spacing: toRem(2);
    text-transform: uppercase;
    z-index: 2;
  }
}
.info-history {
  // .info-history__title-block
  &__title-block {
    &:not(:last-child) {
      margin-bottom: toRem(20);
    }
  }
  // .info-history__text
  &__text {
    display: grid;
    column-gap: toRem(15);
    row-gap: toRem(20);
    line-height: 1.6;
    letter-spacing: toRem(1);

    &:not(:last-child) {
      margin-bottom: toRem(45);
    }

    @media (min-width: $mobileMedium) {
      grid-template-columns: repeat(2, 1fr);
      row-gap: toRem(30);
    }
  }
  // .info-history__data
  &__data {
    display: grid;
    gap: toRem(20);

    @media (min-width: $mobileMedium) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  // .info-history__content-data
  &__content-data {
  }
  // .info-history__signature
  &__signature {
  }
  // .about-page__gallery-slider
  &__gallery-slider {
  }
}

//====slider-gallery===============================================================================================

.slider-gallery {
  @media (max-width: em(800)) {
    overflow: auto;
  }
  // .slider-gallery__grid
  &__grid {
    // display: grid;
    gap: toRem(20);
    position: relative;

    @media (min-width: em(800)) {
      display: inline-grid;
      grid-template-columns: repeat(5, auto);
      transform: translate(-50%, 0px);
      left: 50%;
    }

    @media (max-width: em(800)) {
      display: flex;
    }
  }
  // .slider-gallery__item
  &__item {
    position: relative;
    aspect-ratio: 1 / 1;
    @include adaptiveValue("width", 400, 200);

    @media (max-width: em(800)) {
      width: toRem(280);
      flex-shrink: 0;
    }
    // .slider-gallery__item--big
    &--big {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      @include adaptiveValue("width", 820, 420);
      aspect-ratio: 820 / 400;

      @media (min-width: em(800)) {
        grid-column: span 2;
      }
      @media (max-width: em(800)) {
        width: toRem(560);
      }
    }
  }
  // .slider-gallery__column
  &__column {
    position: relative;
  }
  // .slider-gallery__image-ibg
  &__image-ibg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  // .slider-gallery__body
  &__body {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("@img/slider-gallery/002.jpg") center / cover no-repeat;
  }
}
.info-block {
  @include adaptiveValue("padding", 40, 15);
  display: grid;
  row-gap: toRem(16);
  align-content: center;
  color: $colorLight;
  // .info-block__label
  &__label {
    font-size: toRem(12);
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: toRem(2);
    text-transform: uppercase;
  }
  // .info-block__name
  &__name {
    @include adaptiveValue("font-size", 33, 18);
    line-height: 1.2;
    letter-spacing: toRem(2);
    text-transform: capitalize;
  }
  // .info-block__text
  &__text {
    line-height: 2;

    @media (min-width: em(800)) {
      &:not(:last-child) {
        margin-bottom: toRem(15);
      }
    }
  }
  // .info-block__social
  &__social {
  }
}
.social-icon {
  display: flex;
  align-items: center;
  @include adaptiveValue("gap", 30, 20);
  // .social-icon__item
  &__item {
    flex: 0 0 toRem(20);
    // display: inline-block;
    width: toRem(20);
    height: toRem(20);
  }
  // .social-icon__link
  &__link {
    display: block;
    transition: transform 0.3s;
    img {
      width: 100%;
    }

    @media (any-hover: hover) {
      &:hover {
        transform: scale(1.3);
      }
    }
  }
}
