// Заголовки, загальні БЕМ блоки та інше...
.page {
  // .page__section
  &__hero-section {
  }

  // .page__background-wrap
  &__background-wrap {
    position: relative;
    background: url("@img/plastic/backgraund.jpg") top / cover no-repeat;
    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba($colorLight, 0.8);
    }

    // .page__carts-services
    &__carts-services {
    }

    // .page__transformation
    &__transformation {
    }

    // .page__partners
    &__partners {
    }

    // .page__doctors
    &__doctors {
    }

    // .page__timing
    &__timing {
    }
    // .page__products
    &__products {
    }
    // .page__promotions
    &__promotions {
    }
    // .page__check
    &__check {
    }
  }

  // .page__touch-section
  &__touch-section {
    margin-top: toRem(-150);

    @media (max-width: $mobile) {
      margin-left: toRem(-15);
      margin-right: toRem(-15);
    }
  }

  // .page__plastic
  &__plastic {
  }
}

.logo {
  display: inline-flex;
  @include adaptiveValue("font-size", 14, 10);
  line-height: 2;
  text-transform: uppercase;
  color: $colorLight;
  transition: opacity 0.3s ease 0s;

  @media (min-width: $mobileMedium) {
    letter-spacing: toRem(3);
  }

  @media (any-hover: hover) {
    &:hover {
      opacity: 0.7;
    }
  }
}

.box-header {
  &--center {
    text-align: center;
  }
  // .box-header__label
  &__label {
    display: inline-block;
    padding: toRem(4) toRem(12);
    font-size: toRem(11);
    text-transform: uppercase;
    letter-spacing: toRem(4);
    color: $colorLight;
    background: linear-gradient(90deg, $colorBlue900 0%, $colorBlue100 100%);

    &:not(:last-child) {
      margin-bottom: toRem(20);
    }

    &--blue {
      background: linear-gradient(90deg, $colorBlue100 0%, $colorBlue100 100%);
    }
  }
  // .box-header__title
  &__title {
    @include adaptiveValue("font-size", 50, 25);
    line-height: 1.2;
    letter-spacing: toRem(1);
    text-transform: capitalize;
    color: $colorGray900;

    &--white {
      color: $colorLight;
    }

    &--big {
      @include adaptiveValue("font-size", 55, 28);
    }

    &:not(:last-child) {
      margin-bottom: toRem(22);
    }
  }

  &__text {
    margin: 0 auto;
    line-height: 2;
    letter-spacing: toRem(1);

    &--light {
      color: $colorLight;
    }
  }
}

.text-block {
  line-height: 2;
  letter-spacing: toRem(1);
}

.content-user {
  display: flex;
  align-items: center;
  gap: toRem(15);
  // .content-user__avatar
  &__avatar {
    flex: 0 0 toRem(60);
    height: toRem(60);
    // position: relative;
    // display: block;
    // aspect-ratio: 60/60;
    overflow: hidden;

    &--radius {
      border-radius: 50%;
    }

    img {
      max-width: 100%;
      // position: absolute;
      // width: 100%;
      // height: 100%;
      // top: 0;
      // left: 0;
      // object-fit: cover;
      transition: all 0.3s ease 0s;

      @media (any-hover: hover) {
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
  // .content-user__info
  &__info {
  }
  // .content-user__name
  &__name {
    font-size: toRem(16);
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.5;
    letter-spacing: toRem(1);
    transition: color 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        color: $colorBlue900;
      }
    }
  }
  // .content-user__position
  &__position {
    font-size: toRem(12);
    line-height: 1.5;
    letter-spacing: toRem(2);
    text-transform: capitalize;

    .content-block__data & {
      text-transform: uppercase;
    }
  }
}

.label-box {
  display: grid;
  gap: toRem(5);

  &__link {
    padding: toRem(5) toRem(12);
    font-size: toRem(10);
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: toRem(4);
    color: $colorLight;
    text-align: center;
    transition: background-color 0.3s ease 0s;

    &--blue {
      background-color: $colorBlue900;
      @media (any-hover: hover) {
        &:hover {
          background-color: $colorBlue100;
        }
      }
    }

    &--green {
      background-color: $colorBlue100;
      @media (any-hover: hover) {
        &:hover {
          background-color: $colorBlue900;
        }
      }
    }
  }
}

.pattern-quality {
  // .pattern-quality__item
  &__item {
    display: flex;
    align-items: center;
    gap: toRem(20);
    padding: toRem(8) toRem(0);

    @media (min-width: ($tablet)) {
      padding-left: toRem(25);
    }
  }
  // .pattern-quality__icon
  &__icon {
    flex: 0 0 toRem(52);

    img {
      max-width: 100%;
    }
  }
  // .pattern-quality__content
  &__content {
    // flex: 1 1 auto;
    letter-spacing: toRem(1);
    > * {
      margin-bottom: toRem(14);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  // .pattern-quality__title
  &__title {
    font-size: toRem(25);
    line-height: 1.2;
    text-transform: capitalize;
    color: $colorGray900;
  }
  // .pattern-quality__text
  &__text {
    line-height: 1.6;
  }
}

// <ul class="quality__pattern pattern-quality">
//             <li class="pattern-quality__item">
//               <div class="pattern-quality__icon">
//                 <img src="@img/promotions/bust.png" alt="icon bust">
//               </div>
//               <div class="pattern-quality__content">
//                 <h4 class="pattern-quality__title">creation</h4>
//                 <div class="pattern-quality__text">Proin at varius arcu sed.</div>
//               </div>
//             </li>
//             <li class="pattern-quality__item">
//               <div class="pattern-quality__icon">
//                 <img src="@img/promotions/lips.png" alt="icon bust">
//               </div>
//               <div class="pattern-quality__content">
//                 <h4 class="pattern-quality__title">analyses</h4>
//                 <div class="pattern-quality__text">Proin at varius arcu sed.</div>
//               </div>
//             </li>
//             <li class="pattern-quality__item">
//               <div class="pattern-quality__icon">
//                 <img src="@img/promotions/face.png" alt="icon bust">
//               </div>
//               <div class="pattern-quality__content">
//                 <h4 class="pattern-quality__title">marketing</h4>
//                 <div class="pattern-quality__text">Proin at varius arcu sed.</div>
//               </div>
//             </li>
//           </ul>
