//====================================================================================================

.section-hero {
  position: relative;
  // .section-hero__slider
  &__slider {
  }
  // .section-hero__wrapper
  &__wrapper {
  }
  // .section-hero__slide
  &__slide {
    position: relative;
    min-height: 100vh;
  }
  // .section-hero__container
  &__container {
    position: relative;
    min-height: 100vh;
    @include adaptiveValue("padding-top", 180, 100);
    padding-bottom: toRem(200);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    @include adaptiveValue("gap", 30, 15);
    z-index: 5;
  }
  // .section-hero__top
  &__top {
    display: grid;
    @include adaptiveValue("gap", 15, 10);
    justify-items: start;
  }
  // .section-hero__label
  &__label {
    padding: toRem(6) toRem(30);
    letter-spacing: toRem(2);
    text-transform: uppercase;
    color: $colorBlue900;
    color: $colorLight;
    background-color: $colorBlue900;
  }
  // .section-hero__sub-title
  &__sub-title {
    @include adaptiveValue("font-size", 100, 30);
    font-weight: 700;
    color: $colorLight;
    @include adaptiveValue("letter-spacing", -5, 0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: em(1, 100) #fff;
  }
  // .section-hero__title
  &__title {
    @include adaptiveValue("font-size", 130, 50);
    font-weight: 700;
    color: $colorLight;
    text-transform: capitalize;
  }
  // .section-hero__bottom
  &__bottom {
    @media (min-width: $mobileMedium) {
      display: flex;
      @include adaptiveValue("column-gap", 100, 30);
    }
  }
  // .section-hero__link
  &__link {
    display: inline-block;
    flex: 0 0 auto;
    font-size: toRem(25);
    font-weight: 700;
    text-transform: capitalize;
    color: $colorLight;
    transition: color 0.3s ease 0s;

    @media (max-width: $mobile) {
      margin-bottom: toRem(15);
    }

    @media (any-hover: hover) {
      &:hover {
        color: $colorBlue900;
      }
    }
  }
  // .section-hero__text
  &__text {
    max-width: toRem(450);
    color: $colorLight;
    @include adaptiveValue("font-size", 16, 14);
    line-height: 1.6;
  }
  // .section-hero__image-ibg
  &__image-ibg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.3) 100%);
      z-index: 2;
    }
  }

  // .section-hero__control

  &__control {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;

    @media (min-width: $tablet) {
      @include adaptiveValue("padding-top", 180, 100);
      @include adaptiveValue("padding-bottom", 180, 150);
      // top: 0;
      bottom: 0;
      align-items: center;
      height: 100%;
      width: toRem(120);
    }

    @media (max-width: $tablet) {
      width: 100%;
      bottom: toRem(180);
    }
  }
}

.control-main {
  // .control-main__body
  &__body {
    display: flex;
    // justify-content: space-between;
    row-gap: toRem(10);
    column-gap: toRem(20);
    min-height: 70%;
    color: $colorLight;
    font-size: toRem(18);
    letter-spacing: toRem(1);
    z-index: 5;

    @media (min-width: $tablet) {
      flex-direction: column;
      align-items: center;
    }
    div {
      cursor: pointer;
      transition: color 0.3s ease 0s;
      &.swiper-pagination-bullet-active {
        color: $colorBlue100;
      }
    }

    span {
      &:not(:last-child) {
        flex: 1 1 auto;
        display: flex;
        justify-content: center;
        pointer-events: none;
        width: toRem(1);
        background-color: $colorLight;
      }
    }
  }
}

//======touch==============================================================================================

.get-touch {
  // .get-touch__container
  &__container {
  }
  // .get-touch__box
  &__box {
    position: relative;
    display: grid;
    @include adaptiveValue("column-gap", 40, 20);
    padding-bottom: toRem(40);
    @include adaptiveValue("padding-top", 40, 20);
    @include adaptiveValue("padding-left", 50, 20);
    @include adaptiveValue("padding-right", 50, 20);
    background: url("@img/touch/font.jpg") center / cover no-repeat;

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba($colorBlue100, 0.9);
    }

    @media (min-width: $mobile) {
      &::after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: toRem(4);
        height: 100%;
        background-color: $colorBlue900;
        z-index: 2;
      }
    }

    @media (min-width: $tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  // .get-touch__body
  &__body {
    position: relative;
    z-index: 2;
  }
  // .get-touch__form
  &__form {
    position: relative;
    display: grid;
    row-gap: toRem(20);
    z-index: 2;

    @media (min-width: $mobileMedium) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: toRem(35);
      align-content: center;
    }

    @media (max-width: $tablet) {
      column-gap: toRem(50);
    }
  }
}
.body-touch {
  letter-spacing: toRem(1);
  // .body-touch__title
  &__title {
    @include adaptiveValue("font-size", 50, 30);
    letter-spacing: 1.2;
    line-height: 1.5;
    color: $colorLight;
    text-transform: capitalize;

    &:not(:last-child) {
      margin-bottom: toRem(15);
    }
  }
  // .body-touch__text
  &__text {
    max-width: toRem(467);
    line-height: 2;
    color: $colorLight;

    a {
      text-decoration: underline;

      @media (any-hover: hover) {
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.form-touch {
  // .form-touch__line
  &__line {
    position: relative;

    .form__error {
      position: absolute;
      top: 30%;
      right: toRem(20);
      color: red;
    }
  }
  // .form-touch__input
  &__input {
    padding: toRem(0) toRem(20);
    &::placeholder {
      color: $colorLight;
      text-transform: capitalize;
    }
  }
  // .form-touch__button
  &__button {
    justify-content: center;
    align-items: center;
    font-size: toRem(16);
    letter-spacing: toRem(2);
    background-color: $colorBlue900;
    border: toRem(1) solid transparent;
    transition: all 0.3s ease 0s;

    @media (max-width: $mobileMedium) {
      padding-top: toRem(10);
      padding-bottom: toRem(10);
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: transparent;
        border-color: $colorLight;
      }
    }
  }
}

//=====plastic===============================================================================================

.plastic {
  position: relative;
  @include adaptiveValue("padding-top", 120, 50);
  @include adaptiveValue("padding-bottom", 120, 50);
  z-index: 2;
  // .plastic__container
  &__container {
    display: grid;
    @include adaptiveValue("row-gap", 60, 20);
    @media (min-width: $tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  // .plastic__box-pictures
  &__box-pictures {
    @media (max-width: $tablet) {
      order: 2;
    }
  }
  // .plastic__content
  &__content {
    @media (max-width: $tablet) {
      order: 1;
    }
  }
}
.pictures-box {
  display: grid;
  align-content: start;

  @media (min-width: $tablet) {
    padding-right: toRem(50);
  }

  // .pictures-box__item
  &__item-ibg {
    &:nth-child(1) {
      aspect-ratio: 482/508;
      width: 92.363636%; /* 508/550 */
    }
    &:nth-child(2) {
      aspect-ratio: 284/284;
      width: 51.636364%; /* 284/550 */
      justify-self: end;
      margin-top: -38.181818%; /* 210/550 */
    }
  }
}
.content-block {
  // .content-block__title
  &__title {
    &:not(:last-child) {
      margin-bottom: toRem(17);
    }
  }
  // .content-block__info
  &__info {
    display: grid;
    @include adaptiveValue("row-gap", 35, 15);

    &:not(:last-child) {
      margin-bottom: toRem(25);
    }
  }
  // .content-block__text
  &__text {
    line-height: 2;
    letter-spacing: toRem(1);

    a {
      text-decoration: underline;
      transition: all 0.3s ease 0s;

      @media (any-hover: hover) {
        &:hover {
          text-decoration: none;
          color: $colorBlue100;
        }
      }
    }
  }
  // .content-block__preview
  &__preview {
    display: flex;
    flex-direction: column;
    @media (min-width: $mobileMedium) {
      @include adaptiveValue("gap", 30, 15);
      flex-direction: row;
    }

    &:not(:last-child) {
      margin-bottom: toRem(10);
    }
  }
  // .content-block__pre-picture
  &__pre-picture-ibg {
    flex: 0 0 auto;
    aspect-ratio: 132/76;
    height: toRem(76);
    @media (max-width: $mobileMedium) {
      height: toRem(100);
      order: 1;
    }
  }
  // .content-block__content-data
  &__data {
    display: grid;
    gap: toRem(20);

    @media (min-width: $mobileMedium) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  // .content-block__content-data
  &__content-data {
  }
  // .content-block__signature
  &__signature {
  }
}

//=====plastic===============================================================================================
//=====plastic===============================================================================================
