//====================================================================================================

.section-hero {
  position: relative;
  // .section-hero__slider
  &__slider {
  }
  // .section-hero__wrapper
  &__wrapper {
  }
  // .section-hero__slide
  &__slide {
    position: relative;
    min-height: 100vh;

    &.swiper-slide-active {
      z-index: 2;
    }
  }
  // .section-hero__container
  &__container {
    position: relative;
    min-height: 100vh;
    @include adaptiveValue("padding-top", 180, 100);
    padding-bottom: toRem(200);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    @include adaptiveValue("gap", 30, 15);
    z-index: 5;
  }
  // .section-hero__top
  &__top {
    display: grid;
    @include adaptiveValue("gap", 15, 10);
    justify-items: start;
  }
  // .section-hero__label
  &__label {
    padding: toRem(6) toRem(30);
    letter-spacing: toRem(2);
    text-transform: uppercase;
    color: $colorBlue900;
    color: $colorLight;
    background-color: $colorBlue900;
  }
  // .section-hero__sub-title
  &__sub-title {
    @include adaptiveValue("font-size", 100, 30);
    font-weight: 700;
    color: $colorLight;
    @include adaptiveValue("letter-spacing", -5, 0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: em(1, 100) #fff;
  }
  // .section-hero__title
  &__title {
    @include adaptiveValue("font-size", 130, 50);
    font-weight: 700;
    color: $colorLight;
    text-transform: capitalize;
  }
  // .section-hero__bottom
  &__bottom {
    @media (min-width: $mobileMedium) {
      display: flex;
      align-items: flex-start;
      @include adaptiveValue("column-gap", 100, 30);
    }
  }
  // .section-hero__link
  &__link {
    display: inline-block;
    flex: 0 0 auto;
    font-size: toRem(25);
    font-weight: 700;
    text-transform: capitalize;
    color: $colorLight;
    transition: color 0.3s ease 0s;

    @media (max-width: $mobile) {
      margin-bottom: toRem(15);
    }

    @media (any-hover: hover) {
      &:hover {
        color: $colorBlue900;
      }
    }
  }
  // .section-hero__text
  &__text {
    max-width: toRem(450);
    color: $colorLight;
    @include adaptiveValue("font-size", 16, 14);
    line-height: 1.6;
  }
  // .section-hero__image-ibg
  &__image-ibg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.3) 100%);
      z-index: 2;
    }
  }

  // .section-hero__control

  &__control {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;

    @media (min-width: $tablet) {
      @include adaptiveValue("padding-top", 180, 100);
      @include adaptiveValue("padding-bottom", 180, 150);
      // top: 0;
      bottom: 0;
      align-items: center;
      height: 100%;
      width: toRem(120);
    }

    @media (max-width: $tablet) {
      width: 100%;
      bottom: toRem(180);
    }
  }
}

.control-main {
  // .control-main__body
  &__body {
    display: flex;
    // justify-content: space-between;
    row-gap: toRem(10);
    column-gap: toRem(20);
    min-height: 70%;
    color: $colorLight;
    font-size: toRem(18);
    letter-spacing: toRem(1);
    z-index: 5;

    @media (min-width: $tablet) {
      flex-direction: column;
      align-items: center;
    }
    div {
      cursor: pointer;
      transition: color 0.3s ease 0s;
      &.swiper-pagination-bullet-active {
        font-weight: 700;
        color: $colorBlue900;
      }
    }

    span {
      &:not(:last-child) {
        flex: 1 1 auto;
        display: flex;
        justify-content: center;
        pointer-events: none;
        width: toRem(1);
        background-color: $colorLight;
      }
    }
  }
}

//======touch==============================================================================================

.get-touch {
  // .get-touch__container
  &__container {
  }
  // .get-touch__box
  &__box {
    position: relative;
    display: grid;
    @include adaptiveValue("column-gap", 40, 20);
    padding-bottom: toRem(40);
    @include adaptiveValue("padding-top", 40, 20);
    @include adaptiveValue("padding-left", 50, 20);
    @include adaptiveValue("padding-right", 50, 20);
    z-index: 2;
    background: url("@img/touch/font.jpg") center / cover no-repeat;

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba($colorBlue100, 0.9);
    }

    @media (min-width: $mobile) {
      &::after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: toRem(4);
        height: 100%;
        background-color: $colorBlue900;
        z-index: 2;
      }
    }

    @media (min-width: $tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  // .get-touch__body
  &__body {
    position: relative;
    z-index: 2;
  }
  // .get-touch__form
  &__form {
    position: relative;
    display: grid;
    row-gap: toRem(20);
    z-index: 2;

    @media (min-width: $mobileMedium) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: toRem(35);
      align-content: center;
    }

    @media (max-width: $tablet) {
      column-gap: toRem(50);
    }
  }
}
.body-touch {
  letter-spacing: toRem(1);
  // .body-touch__title
  &__title {
    @include adaptiveValue("font-size", 50, 30);
    letter-spacing: 1.2;
    line-height: 1.5;
    color: $colorLight;
    text-transform: capitalize;

    &:not(:last-child) {
      margin-bottom: toRem(15);
    }
  }
  // .body-touch__text
  &__text {
    max-width: toRem(467);
    line-height: 2;
    color: $colorLight;

    a {
      text-decoration: underline;
      transition: color 0.5s ease 0s;

      @media (any-hover: hover) {
        &:hover {
          text-decoration: none;
          color: $colorBlue900;
        }
      }
    }
  }
}

.form-touch {
  // .form-touch__line
  &__line {
    position: relative;

    .form__error {
      position: absolute;
      top: 30%;
      right: toRem(20);
      color: red;
    }
  }
  // .form-touch__input
  &__input {
    padding: toRem(0) toRem(20);
    &::placeholder {
      color: $colorLight;
      text-transform: capitalize;
    }
  }
  // .form-touch__button
  &__button {
    justify-content: center;
    align-items: center;
    font-size: toRem(16);
    letter-spacing: toRem(2);
    background-color: $colorBlue900;
    border: toRem(1) solid transparent;
    transition: all 0.3s ease 0s;

    @media (max-width: $mobileMedium) {
      padding-top: toRem(10);
      padding-bottom: toRem(10);
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: transparent;
        border-color: $colorLight;
      }
    }
  }
}

//=====plastic===============================================================================================

.plastic {
  position: relative;
  @include adaptiveValue("padding-top", 120, 50);
  @include adaptiveValue("padding-bottom", 120, 50);
  z-index: 2;
  // .plastic__container
  &__container {
    display: grid;
    @include adaptiveValue("row-gap", 60, 20);
    @media (min-width: $tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  // .plastic__box-pictures
  &__box-pictures {
    @media (max-width: $tablet) {
      order: 2;
    }
  }
  // .plastic__content
  &__content {
    @media (max-width: $tablet) {
      order: 1;
    }
  }
}
.pictures-box {
  display: grid;
  align-content: start;

  @media (min-width: $tablet) {
    padding-right: toRem(50);
  }

  // .pictures-box__item
  &__item-ibg {
    &:nth-child(1) {
      aspect-ratio: 482/508;
      width: 92.363636%; /* 508/550 */
    }
    &:nth-child(2) {
      aspect-ratio: 284/284;
      width: 51.636364%; /* 284/550 */
      justify-self: end;
      margin-top: -38.181818%; /* 210/550 */
    }
  }
}
.content-block {
  // .content-block__title
  &__title {
    &:not(:last-child) {
      margin-bottom: toRem(17);
    }
  }
  // .content-block__info
  &__info {
    display: grid;
    @include adaptiveValue("row-gap", 35, 15);

    &:not(:last-child) {
      margin-bottom: toRem(25);
    }
  }
  // .content-block__text
  &__text {
    line-height: 2;
    letter-spacing: toRem(1);

    a {
      text-decoration: underline;
      transition: all 0.3s ease 0s;

      @media (any-hover: hover) {
        &:hover {
          text-decoration: none;
          color: $colorBlue100;
        }
      }
    }
  }
  // .content-block__preview
  &__preview {
    display: flex;
    flex-direction: column;
    row-gap: toRem(20);
    @media (min-width: $mobileMedium) {
      @include adaptiveValue("gap", 30, 15);
      flex-direction: row;
    }

    &:not(:last-child) {
      margin-bottom: toRem(10);
    }
  }
  // .content-block__pre-picture
  &__pre-picture-ibg {
    flex: 0 0 auto;
    aspect-ratio: 132/76;
    height: toRem(76);
    @media (max-width: $mobileMedium) {
      height: toRem(100);
      order: 1;
    }
  }
  // .content-block__content-data
  &__data {
    display: grid;
    gap: toRem(20);

    @media (min-width: $mobileMedium) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  // .content-block__content-data
  &__content-data {
  }
  // .content-block__signature
  &__signature {
  }
}

//=====service===============================================================================================
.services-block {
  @include adaptiveValue("padding-bottom", 120, 50);
  // .services-block__container
  &__container {
  }
  // .services-block__items
  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(toRem(277), 1fr));
    column-gap: toRem(30);
    row-gap: toRem(20);
  }
  // .services-block__item
  &__item {
  }
  // .services-block__cart
  &__cart {
  }
}
.cart-service {
  position: relative;
  // padding-bottom: toRem(10);

  @media (any-hover: hover) {
    &:hover {
      .cart-service__image-ibg {
        img {
          transform: scale(1.07);
        }
      }
    }
  }
  // .cart-service__label
  &__label {
    position: absolute;
    z-index: 2;
    top: toRem(26);
    left: toRem(20);
  }

  // .cart-service__image-ibg
  &__image-ibg {
    display: block;
    aspect-ratio: 298/298;
    overflow: hidden;

    img {
      transition: all 0.3s;
    }

    &:not(:last-child) {
      margin-bottom: toRem(25);
    }
  }
  // .cart-service__title
  &__title {
    text-align: center;
    &:not(:last-child) {
      margin-bottom: toRem(15);
    }
  }
  // .cart-service__link-title
  &__link-title {
    font-size: toRem(20);
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: toRem(1);
    text-transform: capitalize;
    color: $colorGray900;
    transition: color 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        color: $colorBlue100;
      }
    }
  }
  // .cart-service__price
  &__price {
    font-size: toRem(12);
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: toRem(4);
    text-align: center;
  }
}

//=====transformation===============================================================================================

.transform {
  position: relative;
  @include adaptiveValue("padding-top", 120, 50);
  @include adaptiveValue("padding-bottom", 120, 50);
  background:
    linear-gradient(270deg, #0e3055 0%, rgba(46, 46, 46, 0.14) 100%),
    url("@img/transformation/bacgraund.jpg") 0 0 / cover no-repeat;
  z-index: 1;

  // .transform__container
  &__container {
    position: relative;
    display: flex;
    align-items: flex-start;
    z-index: 2;

    @media (max-width: $tablet) {
      flex-direction: column-reverse;
      align-items: stretch;
    }
  }
  // .transform__before-after
  &__before-after {
    flex: 0 1 50%;
    @include adaptiveValue("margin-right", 50, 0, 0, $containerWidth, 992);
  }
  // .transform__content
  &__content {
    flex: 0 1 50%;
  }
  // .transform__title
  &__title {
    .box-header__title {
      color: $colorGray100;
    }
    &:not(:last-child) {
      margin-bottom: toRem(10);
    }

    @media (min-width: $tablet) {
      @include adaptiveValue("padding-left", 50, 20);
    }
  }
  // .transform__items
  &__items {
  }
  // .transform__item
  &__item {
  }
  // .transform__cart
  &__cart {
  }
}

.before-after {
  position: relative;
  // .before-after__item
  &__item {
    img {
      user-select: none;
      pointer-events: none;
    }
    // .before-after__item--before
    &--before {
      img {
        max-width: 100%;
      }
    }
    // .before-after__item--after
    &--after {
      position: absolute;
      width: 50%;
      height: 100%;
      top: 0;
      right: 0;
      overflow: hidden;
      img {
        position: absolute;
        height: 100%;
        top: 0;
        right: 0;
      }
    }
  }

  &__arrow {
    position: absolute;
    left: 50%;
    top: 0;
    height: 100%;
    width: toRem(3);
    background-color: $colorBlue100;
    z-index: 2;
    &::after {
      position: absolute;
      content: "";
      width: toRem(25);
      height: toRem(25);
      background-color: $colorBlue100;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: grab;
    }

    &::before {
      @extend %ic;
      content: "\e90a";
      position: absolute;
      color: $colorLight;
      z-index: 2;
      left: 50%;
      top: 50%;
      transform: rotate(90deg) translate(-50%, 50%);
      font-size: toRem(0);
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.5s;
    }

    &--right {
      &::before {
        font-size: toRem(10);
        opacity: 1;
        pointer-events: auto;
        transform: rotate(0deg) translate(-50%, -50%);
      }
    }

    &--left {
      &::before {
        font-size: toRem(10);
        opacity: 1;
        pointer-events: auto;
        transform: rotate(180deg) translate(50%, 50%);
      }
    }
  }
}

.cart-block {
  position: relative;
  @include adaptiveValue("padding-top", 30, 20);
  @include adaptiveValue("padding-bottom", 30, 20);
  display: grid;
  align-items: start;
  grid-template-columns: toRem(100) 1fr auto;
  column-gap: toRem(30);
  row-gap: toRem(10);
  color: $colorLight;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: url("@img/transformation/item-backgraund.jpg") 0 center/ cover no-repeat;
    transition: opacity 0.3s;
  }

  @media (min-width: $tablet) {
    @include adaptiveValue("padding-right", 50, 20);
    @include adaptiveValue("padding-left", 50, 20);
  }

  @media (max-width: $mobileSmall) {
    grid-template-columns: toRem(100) 1fr;
  }

  @media (any-hover: hover) {
    &:hover {
      &::before {
        opacity: 1;
      }
    }
  }
  // .cart-block__image
  &__image {
    position: relative;
    aspect-ratio: 1/1;
    overflow: hidden;

    img {
    }
    @media (any-hover: hover) {
      &:hover {
        &__image {
          img {
            transform: scale(1.1);
          }
        }
      }
    }
  }
  // .cart-block__body
  &__body {
    position: relative;
    letter-spacing: toRem(1);
  }
  // .cart-block__header
  &__header {
    font-size: toRem(20);
    font-weight: 700;
    line-height: 1.2;
    text-transform: capitalize;
    transition: color 0.3s;
    &:not(:last-child) {
      margin-bottom: toRem(16);
    }

    @media (any-hover: hover) {
      &:hover {
        color: $colorBlue100;
      }
    }
  }
  // .cart-block__link-header
  &__link-header {
  }
  // .cart-block__text
  &__text {
    font-style: normal;
    line-height: 1.8;
  }
  // .cart-block__info
  &__info {
    position: relative;

    @media (max-width: $mobileSmall) {
      grid-column: span 2;
      justify-self: end;
    }
  }
  // .cart-block__price
  &__price {
    font-size: toRem(16);
    line-height: 1.6;
    letter-spacing: toRem(1);

    &:not(:last-child) {
      margin-bottom: toRem(24);
    }

    @media (max-width: $mobileSmall) {
    }
  }
  // .cart-block__labels
  &__labels {
  }
}

//=====partners===============================================================================================

.partners {
  // .partners__container
  &__container {
    @include adaptiveValue("padding-top", 60, 30);
    @include adaptiveValue("padding-bottom", 60, 30);
  }
  // .partners__items
  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: toRem(20);
    @include adaptiveValue("column-gap", 150, 50);

    @media (min-width: $mobileMedium) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: $tablet) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  // .partners__item
  &__item {
    img {
      width: 100%;
    }
  }
}

//=====doctors===============================================================================================

.doctors {
  position: relative;
  @include adaptiveValue("padding-top", 120, 50);
  @include adaptiveValue("padding-bottom", 120, 50);
  background: url("@img/plastic/backgraund.jpg") top / cover no-repeat;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba($colorLight, 0.8);
  }
  // .doctors__container
  &__container {
    position: relative;
  }
  // .doctors__title
  &__title {
    @include adaptiveValue("margin-bottom", 40, 20);
  }
  // .doctors__body
  &__body {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 60, 30);
    }
  }
  // .doctors__gallery
  &__gallery {
  }
}

.body-doctors {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  // @include adaptiveValue("gap", 100, 20);
  background: linear-gradient(90deg, $colorBlue100 0%, $colorGray100 50%, $colorBlue900 100%);

  @media (max-width: em(1100)) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: em(680)) {
    grid-template-columns: auto;
    margin: toRem(0) toRem(-15);
    background: linear-gradient(90deg, $colorBlue100 0%, $colorBlue900 100%);
  }
  // .body-doctors__list
  &__list {
  }
  // .body-doctors__main-picture
  &__main-picture {
    padding-top: toRem(20);
    align-self: end;
    text-align: center;
    img {
      max-width: toRem(300);
    }

    @media (max-width: em(1100)) {
      order: 3;
      padding-top: toRem(0);
    }

    @media (max-width: em(1100)) and (min-width: em(680)) {
      grid-column: span 2;
    }
  }
  // .body-doctors__info
  &__info {
    align-self: start;
  }
}

.list-doctor {
  @include adaptiveValue("padding", 30, 10);
  // padding: toRem(50) toRem(0) toRem(50) toRem(50);
  align-content: start;
  display: grid;
  @include adaptiveValue("row-gap", 40, 10);
  // .list-doctor__item
  &__item {
  }
  // .list-doctor__box
  &__box {
  }
}

.link-box {
  padding: toRem(20);
  display: flex;
  align-items: start;
  gap: toRem(30);
  letter-spacing: toRem(1);
  color: $colorLight;
  &._active {
    background-color: $colorBlue900;
  }

  // .link-box__image
  &__image-ibg {
    flex: 0 0 toRem(86);
    aspect-ratio: 1/1;
  }
  // .link-box__body
  &__body {
  }
  // .link-box__name
  &__name {
    font-size: toRem(20);
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.2;

    &:not(:last-child) {
      margin-bottom: toRem(17);
    }
  }
  // .link-box__text
  &__text {
    line-height: 1.6;
  }
}

.info-service {
  @include adaptiveValue("padding", 50, 10);
  display: grid;
  @include adaptiveValue("row-gap", 35, 20);
  color: $colorLight;

  // padding: toRem(50) toRem(50) toRem(50) toRem(0);
  // .info-service__header
  &__header {
    text-align: center;
  }
  // .info-service__title
  &__title {
    font-size: toRem(30);
    letter-spacing: toRem(2);
    line-height: 1.2;
    text-transform: capitalize;

    &:not(:last-child) {
      margin-bottom: toRem(24);
    }
  }
  // .info-service__text
  &__text {
    letter-spacing: toRem(1);
    line-height: 1.6;
  }
  // .info-service__line
  &__line {
  }
  // .info-service__stat
  &__stat {
  }
}
.skill-service {
  display: grid;
  row-gap: toRem(20);
  // .skill-service__item
  &__item {
    position: relative;
    background-color: $colorGray200;
    color: $colorGray300;
    border-radius: toRem(2);
    overflow: hidden;
    &:nth-child(even) {
      .skill-service__line {
        background-color: $colorBlue900;
      }
    }
  }
  // .skill-service__info
  &__info {
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: toRem(7) toRem(15);
    height: toRem(30);
    font-size: toRem(12);
    text-transform: capitalize;
    letter-spacing: toRem(2);
    z-index: 2;
  }
  // .skill-service__label
  &__label {
  }
  // .skill-service__value
  &__value {
  }
  // .skill-service__line
  &__line {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: $colorBlue100;

    // .skill-service__line--green
    &--green {
    }
    // .skill-service__line--blue
    &--blue {
      // background-color: $colorBlue900;
    }
  }
}
.statistic {
  display: flex;

  // .statistic__item
  &__item {
    flex: 33.333%;
    text-align: center;
    padding: toRem(0) toRem(5);
  }
  // .statistic__value
  &__value {
    font-size: toRem(30);
    font-weight: 700;
    line-height: 1;
  }
  // .statistic__label
  &__label {
    font-size: toRem(14);
    letter-spacing: toRem(4);
    text-transform: uppercase;
    line-height: 2.5;
  }
}
.prof-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @include adaptiveValue("gap", 40, 20);
  // .prof-gallery__item
  &__item-ibg {
    aspect-ratio: 1/1;
  }

  @media (min-width: $mobile) {
    grid-template-columns: repeat(4, 1fr);
  }
}

//=====timing===============================================================================================

.timing {
  position: relative;
  @include adaptiveValue("padding-top", 120, 30);
  @include adaptiveValue("padding-bottom", 100, 30);
  background: url("@img/timing/bacgraund.jpg") center / cover no-repeat;

  &::after {
    position: absolute;
    content: "";
    background: linear-gradient(90deg, rgba($colorBlue900, 0.91) 0%, rgba($colorBlue900, 0.25) 100%);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  // .timing__container
  &__container {
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: auto;
    row-gap: toRem(20);
    @include adaptiveValue("column-gap", 80, 10);
    z-index: 2;

    @media (min-width: em(800)) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  // .timing__content
  &__content {
  }
  // .timing__title-block
  &__title-block {
    &:not(:last-child) {
      margin-bottom: toRem(17);
    }

    @media (max-width: em(800)) {
      text-align: center;
    }
  }
  // .timing__text
  &__text {
    color: $colorLight;
    line-height: 2;
    letter-spacing: toRem(1);
    a {
      text-decoration: underline;
    }
    &:not(:last-child) {
      margin-bottom: toRem(25);
    }
  }
  // .timing__info
  &__info {
  }
  // .timing__calendar
  &__calendar {
  }
}

.info-timing {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: toRem(25);
  @include adaptiveValue("column-gap", 25, 0);

  @media (min-width: em(800)) and (max-width: $tablet) {
    grid-template-columns: auto;
  }

  @media (max-width: $mobileSmall) {
    grid-template-columns: auto;
  }

  // .info-timing__image
  &__image {
    img {
      max-width: 100%;
    }

    @media (min-width: em(800)) and (max-width: $tablet) {
      display: none;
    }

    @media (max-width: $mobileSmall) {
      display: none;
    }
  }
  // .info-timing__items
  &__items {
  }
  // .info-timing__phone
  &__phone {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: toRem(0) toRem(30);
    min-height: toRem(76);
    width: 100%;
    @include adaptiveValue("font-size", 30, 18);
    font-weight: 700;
    line-height: 1.2;
    color: $colorLight;
    background-color: $colorBlue100;
    letter-spacing: toRem(2.9);
    bottom: 0;
    left: 0;
  }
}
.timetable {
  display: grid;
  row-gap: toRem(26);
  padding-bottom: toRem(116);
  // @include adaptiveValue("padding-right", 30, 0);

  @media (min-width: em(1080)) {
    padding-right: toRem(30);
  }
  // .timetable__item
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $colorLight;
    text-transform: uppercase;
    letter-spacing: toRem(4);
  }
  // .timetable__day
  &__day {
    line-height: 1.4;
  }
  // .timetable__tim
  &__tim {
    white-space: nowrap;
    padding: toRem(7) toRem(10);
    background-color: rgba($colorLight, 0.2);
    font-size: toRem(10);
  }
}

// calendar================

.calendar {
  // .calendar__box
  &__box {
    margin-left: auto;
    display: grid;
    border-radius: toRem(10);
    box-shadow: 0px toRem(5) toRem(5) 0px rgba($colorGray900, 0.08);
    overflow: hidden;

    @media (min-width: $pc) {
      max-width: toRem(520);
    }

    @media (max-width: $mobileSmall) {
      margin: 0 toRem(-15);
      border-radius: 0;
    }
  }
  // .calendar__header
  &__header {
    min-height: toRem(54);
    padding: toRem(15) toRem(20);
  }
  // .calendar__week
  &__week {
  }
  // .calendar__day
  &__day {
  }
}
.header-calendar {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  font-size: toRem(17);
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: toRem(2);
  color: $colorLight;
  background-color: $colorBlue900;
  // .header-calendar__arrow
  &__arrow {
    transition: color 0.5s ease 0s;
    // .header-calendar__arrow--prev
    &--prev {
      &::before {
        transform: rotate(-180deg);
      }
    }
    // .header-calendar__arrow--next
    &--next {
    }
    &[disabled] {
      opacity: 0;
      pointer-events: none;
    }

    @media (any-hover: hover) {
      &:hover {
        color: $colorBlue100;
      }
    }
  }
  // .header-calendar__mount
  &__mount {
    text-align: center;
  }
}
.week-calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: $colorBlue100;

  // .week-calendar__day
  &__day {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: toRem(33);
    font-size: toRem(12);
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: toRem(2);
    color: $colorLight;
  }
}
.day-calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  // .day-calendar__number
  &__number {
    display: flex;
    align-items: center;
    justify-content: center;
    @include adaptiveValue("min-height", 73, 53);
    background-color: $colorGray200;
    color: $colorGray700;
    border-right: toRem(1) solid $colorGray300;
    border-bottom: toRem(1) solid $colorGray300;

    &--style {
      color: $colorGray900;
      background-color: $colorLight;
    }
  }
}

//==== products===============================================================================================

.products {
  position: relative;
  @include adaptiveValue("padding-top", 100, 30);
  @include adaptiveValue("padding-bottom", 100, 30);
  background: url("@img/plastic/backgraund.jpg") center / cover no-repeat;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba($colorLight, 0.8);
  }
  // .products__container
  &__container {
    position: relative;
    z-index: 2;
  }
  // .products__title-block
  &__title-block {
    &:not(:last-child) {
      margin-bottom: toRem(45);
    }
  }
  // .products__list
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(toRem(280), 1fr));
    gap: toRem(30);
  }
  // .products__item
  &__item {
    &:nth-child(even) {
      .cart-products__offer {
        background-color: $colorBlue100;
      }
    }
    &:nth-child(odd) {
      .cart-products__offer {
        background-color: $colorBlue900;
      }
    }
  }
  // .products__cart
  &__cart {
  }
}
.cart-products {
  position: relative;
  display: grid;
  align-items: end;
  box-shadow: 0px 0px 15px 0px rgba($colorGray900, 0.03);
  // aspect-ratio: 1/1;
  overflow: hidden;

  @media (any-hover: hover) {
    &:hover {
      .info-product {
        transform: translateY(0);
      }
    }
  }

  // .cart-products__body
  &__body {
    position: relative;
    // z-index: 2;
  }
  // .cart-products__offer
  &__offer {
    position: absolute;
    top: toRem(30);
    right: toRem(30);
    display: inline-block;
    padding: toRem(3) toRem(10);
    color: $colorLight;
    font-size: toRem(13);
    line-height: 1.2;
    z-index: 2;

    &--dark {
      background-color: $colorBlue900;
    }

    &--light {
      background-color: $colorBlue100;
    }
  }
  // .cart-products__image
  &__image-ibg {
    aspect-ratio: 1/1;
  }
  // .cart-products__name
  &__name {
    position: absolute;
    padding: 0 toRem(5);
    width: 100%;
    bottom: toRem(23);
    left: 0;
    font-size: toRem(12);
    font-weight: 700;
    letter-spacing: toRem(4);
    line-height: 1;
    color: $colorGray900;
    text-transform: uppercase;
    text-align: center;
    z-index: 2;
  }
  // .cart-products__info
  &__info {
  }
}
.info-product {
  position: absolute;
  display: grid;
  justify-content: center;
  align-content: center;
  gap: toRem(25);
  padding: 0 toRem(5);
  color: $colorLight;
  text-align: center;
  letter-spacing: toRem(1);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("@img/products/backgraund.jpg") center / cover no-repeat;
  transform: translateY(100%);
  transition: all 0.5s;
  z-index: 5;

  .touch & {
    position: relative;
    transform: translate(0, 0);
    padding: toRem(15);
    gap: toRem(10);
  }
  // .info-product__title
  &__title {
    font-size: toRem(20);
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
  }
  // .info-product__item
  &__item {
    font-size: toRem(14);
    line-height: 1;
    transition: color 0.3s ease 0s;

    span {
      text-decoration: underline;
    }

    @media (any-hover: hover) {
      &:hover {
        color: $colorBlue100;
      }
    }
  }
}

//====promotions===============================================================================================

.promotions {
  position: relative;
  @include adaptiveValue("padding-top", 90, 30);
  @include adaptiveValue("padding-bottom", 90, 30);
  background: url("@img/products/backgraund-next.jpg") center / cover no-repeat;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba($colorGray900, 0.5);
  }

  // .promotions__container
  &__container {
    position: relative;
    z-index: 2;
  }
  // .promotions__content
  &__content {
  }
  // .promotions__info
  &__info {
  }
}
.content-promotions {
  // .content-promotions__title-block
  &__title-block {
  }
  // .content-promotions__text
  &__text {
  }
  // .content-promotions__payment
  &__payment {
  }
  // .content-promotions__subtitle
  &__subtitle {
  }
  // .content-promotions__list
  &__list {
  }
  // .content-promotions__item
  &__item {
  }
}

.info-promotions {
  // .info-promotions__sale
  &__sale {
  }
  // .info-promotions__image
  &__image {
  }
}
.sale-block {
  // .sale-block__label
  &__label {
  }
  // .sale-block__value
  &__value {
  }
  // .sale-block__select
  &__select {
  }
}
